{% extends "shared/base.html" %}

{% block title %}Complete your payment{% endblock %}

{% block content %}
    <!-- <div class="posted-alert" id="posted">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="success">
                <i>Payment initiated succesfully enter you PIN on your phone to complete payment</i>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card spinner-card">
                    <div class="card-body text-center">
                        <div class="spinner-border loading-spinner text-success" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
        {% endif %}
    </div> -->

    <div class="card">
        <div class="card-body welcome-card">
            <p>Welcome to <b>TelePay Payment System</b> for Leonet Telegram Channels. This is a secure platform where you can pay to join to any of the Leonet Channels</p>
        </div>
      </div>
      {{transaction_result}}
    
    <div class="card">
        <div class="card-body">
            <p>Enter your Phone number to intiate payment</p> 
            <form method="POST" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputPassword1">Phone Number</label>
                    <input type="tel" class="form-control" name="client_phone" id="exampleInputPassword1" placeholder="0712345789" required>
                </div>
                <input type="submit" class="btn signup-button" value="Pay">
            </form>
        </div>
    </div>

    <script>
        var transaction_result = "{{transaction_result}}";
        console.log("this "+transaction_result)
    </script>
{% endblock %}