{% extends "shared/base.html" %}

{% block title %}Complete your payment{% endblock %}

{% block content %}
<section class="main">
        <h5>
            Sorry! the transaction wasn't successsfully executed 😞
        </h5>
        <div class="card complete-transaction-card">
            <div class="card-body">
                To complete your payment for Leonet Network Telegram private channel join:
                <ol>
                    <br><li>On the M-PESA Menu Go to Lipa Na M-PESA </li>
                    <li>Enter <b>661577</b> as the Till Number </li>
                    <li>Enter <b>200</b> as the amount  </li>
                    <li>Enter your M-PESA PIN. </li>
                    <li>Press OK  </li>
                    <li>You will receive a confirmation SMS from M-PESA </li>
                </ol>
            </div>
        </div>
        <p class="message">After a successful payment you will receive a link to join the private channel. The link can only be used once so keep it secret.</p>
    </section>
{% endblock %}
    
