autopep8==1.4.4
beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
Django==2.2.8
django-bootstrap4==1.0.1
django-debug-toolbar==2.1
django-silk==3.0.4
django-tables2==2.1.1
gprof2dot==2017.9.19
gunicorn==20.0.4
idna==2.8
Jinja2==2.10.3
MarkupSafe==1.1.1
pkg-resources==0.0.0
psycopg2==2.8.4
pyaes==1.6.1
pyasn1==0.4.8
pycodestyle==2.5.0
Pygments==2.4.2
python-dateutil==2.8.1
python-dotenv==0.10.3
pytz==2019.3
requests==2.22.0
rsa==4.0
six==1.13.0
soupsieve==1.9.5
sqlparse==0.3.0
Telethon==1.10.8
urllib3==1.25.6
whitenoise==4.1.4
