{% extends 'shared/base.html' %}
{% load bootstrap4 %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h3 class="header">Login</h3>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn paying-button">
                Login
            </button>
            {% endbuttons %}
            <i class="text-muted">Don't have an account,</i> <a href="{% url 'signup' %}"><b class="signup-link">Signup</b></a>
        </form>
    </div>
</div>


{% endblock %}